[user]
        name = Gavin Heverly-Coulson
        email = <insert correct email here>

[init]
        defaultBranch = main
        
[core]
        # https://github.com/dandavison/delta
        pager = delta

[delta]
        line-numbers = true
        dark = true
        syntax-theme = "zenburn"

[interactive]
        diffFilter = delta --color-only

[pull]
        rebase = false
